extends layout

block content
  section.landing
    aside
      svg(width="48" height="48" viewBox="0 0 48 48" fill="none" id="logo" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24ZM14 17H16H32H34V24V26V31V33H32H25H23V31V26V24H32V19H16V33H14V17ZM32 31H25V26H32V31Z" fill="#333333")
      h1= title
      hr
      p I work at the nexus of complex systems, transdisciplinary design and arts-based research. For the past decade, I've helped others both untangle messes and uncover opportunities through a balancing act of problem-solving and creative inquiry. I currently lead #[a(href="http://oneproject.org") Alternatives at One Project], where we're working to design, implement and scale new forms of economics and governance that are equitable, ecological and effective. I also serve as a Board Member at #[a(href="http://leonardo.info") Leonardo], the International Society for the Arts, Sciences and Technology. Previously, I led design for learners at Khan Academy, tackled #[a(href="https://go.ted.com/raphaelarar") ethical platforms of AI at IBM Research], taught media theory at the USC School of Cinematic Arts and designed over a hundred iOS apps with Apple#[a(id="read-more" href="#" onclick="document.getElementById('long-text').style.display = 'block'; this.style.display = 'none'; return false;")  (read more)].    
      p#long-text My artwork has been shown at museums, conferences, festivals and galleries internationally including the ZKM | Center for Art and Media, Moscow Museum of Applied Art, SLAC National Accelerator Laboratory, International Symposium on Electronic Art (ISEA), Gamble House Museum, ACM CHI Conference on Human Factors in Computing Systems, Science Gallery, Boston Cyberarts Gallery, and Athens Video Art Festival. Notable commissions include Noema Magazine, Goethe Institut, Gray Area Foundation for the Arts, Intel Labs and IBM Research. My design work has been featured in publications including #[a(href="https://www.forbes.com/profile/raphael-arar/#753c2ca26ea8") Forbes], #[a(href="https://www.inc.com/yazin-akkawi/how-technology-has-given-design-a-new-meaning.html") Inc. Magazine], FastCompany, Wired and others.
      ul.social
        li
          a(href="http://twitter.com/rarar") Twitter
          span
          |
          |/
          |
        li
          a(href="http://instagram.com/rarar") Instagram
          span
          |
          |/
          |
        li
          a(href="http://linkedin.com/in/rarar") LinkedIn
      ul.personal
        li
          a(href="/docs/rarar-cv-web.pdf") CV
          span
          |
          |/
          |
        li
          a(href="mailto:me@rarar.com") Email
    main
      h2 Research areas
      ul.main-work
        li
          a(href="/ka") Designing for learning engagement and efficacy
        li
          a(href="/ml-ai") Creating user experiences driven by machine learning
        li
          a(href="/conversation") Codifying the discipline of Conversational UX
        li
          a(href="/ai-ethics") Helping AI Scientists create systems ethically
      h2 Other notable design work
      ul.other-work
        li
          a(href="https://www.apple.com/newsroom/2014/07/15Apple-and-IBM-Forge-Global-Partnership-to-Transform-Enterprise-Mobility/") Leading design for over 100 Enterprise iOS Apps
        li
          a(href="https://www.kadenze.com") Creating the identity and first user experiences for Kadenze
        li
          a(href="http://www.storiesfrommainstreet.org") Implementing online exhibitions for the Smithsonian
        li
          a(href="https://www.openpediatrics.org") Prototyping the initial release of OPENPediatrics
      h2 Classes taught
      ul.other-work
        li
          a(href="https://www.notion.so/rarar/Systems-Aesthetics-b91431d3d65e4d30a07e8716572f349b") Systems Aesthetics (California Institute of the Arts)
        li
          a(href="https://unr.rarar.com") Tangible Media (University of Nevada, Reno - Digital Media)
        li
          a(href="https://github.com/rarar/SJSU_ART_104_F19") SWITCH: The current landscape of new media & design (SJSU - CADRE Laboratory for New Media)
        li
          a(href="/docs/ART105.pdf") Advanced Video Art (SJSU - CADRE Laboratory for New Media)
        li
          a(href="https://usc.rarar.com/IML-499/fall-2015/") Critical Approaches to User Experience Design & Media Art (USC Media Arts + Practice)
        li
          a(href="https://usc.rarar.com/IML-400/spring-2015/") Creative Coding for the Web (USC Media Arts + Practice)
      h2 Selected artwork & writing
      ul.other-work
        li
          a(href="/art-csd/oracle") An Ecological Oracle
        li
          a(href="https://cchange.xyz/feedback-loops-for-mutual-learning/") Feedback Loop(s) for Mutual Learning
        li
          a(href="/art-csd/dm-meme") DM MEME / ДМ МЕМ
        li
          a(href="/art-csd/noema-ai-poet") Noema AI Poet
        li
          a(href="/art-csd/capitalist-clock") Capitalist Clock
        li
          a(href="/ai-ethics/nostalgia") Nostalgia
        li
          a(href="/art-csd/doomscroll") DOOMSCROLL
        li
          a(href="/art-csd/fcfi") Food Carbon Footprint Index
        li
          a(href="/art-csd/motor-studies") Motor Studies
        li
          a(href="/art-csd/forbidden-pixel") Forbidden Pixel
        li
          a(href="/art-csd/projected-shadows") Projected Shadows
        li
          a(href="/art-csd/chance-meeting") Chance Meeting in a…
        li
          a(href="/ml-ai/wayfinding") Wayfinding
        li
          a(href="/ml-ai/pendulum") (+/-) Pendulum
      footer
        p Handcrafted using Node.js, Express & Pug © 2022 Raphael Arar
