extends layout

block content
  section.project
    a(href="./" class="back") Back
    header
      h1= h1
      p= desc
    main
      if largethumb && deets
        section.jumbo
          div.img-container
            img(src=largethumb)
          div.detail.no-border!= deets
        article
          if problemStatement
              h3 The problem
              != problemStatement
          if processSolution
            h3 Process & solution
            != processSolution
          if outcomeNextSteps
            h3 Outcome & next steps
            != outcomeNextSteps
    footer
      ul.social
        li
          a(href="http://twitter.com/rarar") Twitter
          span
          |
          |/
          |
        li
          a(href="http://instagram.com/rarar") Instagram
          span
          |
          |/
          |
        li
          a(href="http://linkedin.com/in/rarar") LinkedIn
      ul.personal
        li
          a(href="/docs/rarar-cv-web.pdf") CV
          span
          |
          |/
          |
        li
          a(href="mailto:me@rarar.com") Email
      p Handcrafted using Node.js, Express & Pug © 2022 Raphael Arar
