extends layout

block content
  section.project
    a(href="./" class="back") 👈 back
    header
      h1= h1
      p= desc
    main
      section.jumbo
        div.img-container
          img(src=largethumb)
        div
          h2 ❤️ Users
          ul
            li Experienced IBM Strategy & Transformation Consultants
          h2 🏢 Employer
          ul
            li IBM Research / IBM Services
          h2 💼 Role
          ul
            li Product Design Lead
          h2 👥 Team
          ul
            li 1 Design Technologist 
            li 5 Software Engineers 
            li 1 Product Manager 
            li 2 Data Scientists
          h2 ✅ Responsibilities
          ul
            li Product design including user research, interaction design, visual design and prototyping
            li Design Thinking workshop facilitation
            li Client management
            li Strategy & leadership
      article
        h3 The problem
        p The Component Business Model (CBM) is an advanced ideology developed by IBM to enable strategy consultants to better assist their clients. CBM’s framework is one of strategic management where opportunities for improvement or innovation in an organization can be easily identified and dealt with smartly.
        p Early on, we encountered a serious setback with the existing software, integral to the framework. To start, the pre-existing software to support the framework was PC-only and it required users to go through a painstaking download process. It also had significant user experience hurdles including an inability for users to collaborate, outdated content harmonization and cumbersome presenting tools.
        p This kickstarted a joint initiative between my team within IBM Research and our Global Business Services strategy team to redesign the CBM software so that it was cloud-enabled and optimized for remote collaboration to enable users to perform their consulting jobs better and from any location.
        section.image-block
          figure
            img(src="/images/cbm-old-1.png")
            figcaption View of the existing CBM software showing a custom heat map for a government client
          figure
            img(src="/images/cbm-old-2.png")
            figcaption View of the existing CBM software showing a default template and export options
        h3 Process & solution
        p My team and I utilized IBM Design Thinking to really understand our users’ needs and wants. Due to the complexity of the CBM framework and tooling, I led the interview process starting with some of the most advanced and knowledgeable Strategy & Transformation consultants within the company. This led us to the creation of our first persona Paul Sanchez, which in turn directed us to craft three hills, our desired outcomes. After checking in with our sponsor users and stakeholders, we then kicked off design sprints in tandem with Agile development sprints. Our sprints were scheduled with frequent playbacks to ensure we were on target.
        section.image-block
          figure
            img(src="/images/cbm-sketch-1.png")
            figcaption Early sketches of the Project Dashboard
          figure
            img(src="/images/cbm-sketch-2.png")
            figcaption Create new project assistant flow
        p Following a structured design process, every sprint involved in a user scenario that our team ranked in priority based on user needs. These scenarios ranged from “finding a CBM model” to “creating a new project” and “adding a collaborator”. The designs were first collaboratively sketched out and then digitally-designed. Once the designs were approved, these scenarios would be incorporated into the development plan.
        section.jumbo
          div.img-container
            img(src="/images/cbm-detail-1.png")
          div.detail
            p Detail of a business component.
            p In this view, a user has access to  insights driven by a machine learning algorithm that leverage IBM’s data lake of content on a particular client.
        section.jumbo
          div.img-container
            img(src="/images/cbm-search.gif")
          div.detail
            p Walk-through prototype of the search experience.
            p In CBM.next, users have the ability to search components, existing maps as well as articles that span a network of connected repositories.
        section.jumbo
          div.img-container
            img(src="/images/cbm-explore.gif")
          div.detail
            p Walk-through prototype of the explore experience.
            p In the old tool, users faced a steep learning curve—there was no way to get acquainted with existing models or the CBM methodology without an expert trainer. My team and I sought to rectify this user need by creating a robust onboarding experience.
        h3 Outcome & next steps
        p In April 2017, CBM.next was launched globally within IBM, signifying the next era of the CBM methodology and tooling. Since then, the collaborative platform has over 5000 active consultants globally.  We defined an active user as someone who logs in to the tool at least twice a month. This is a significant jump from the initial data collected, which showed that the prior user base was less than 500 active users signifying an over 900% increase in our user base!
        p While I left the project prior to the collection of additional quantitative data, I would’ve loved to capture NPS scores to further validate its reception as well as completion rates for important tasks like creating a heatmap and customizing a template. That said, from the qualitative feedback collected, the reception of CBM.next and updates to the methodology have been well received. Users are keen to see continued work as future releases have been scheduled for the coming years. As of today, CBM.next represents the next era of collaborative business informatics software and demonstrates the possibilities of applying user-centered design methodologies and practices to the field of business modeling products and services at large.
    footer
      ul.social
        li
          a(href="http://twitter.com/rarar") Twitter
          span
          |
          |/
          |
        li
          a(href="http://instagram.com/rarar") Instagram
          span
          |
          |/
          |
        li
          a(href="http://linkedin.com/in/rarar") LinkedIn
      ul.personal
        li
          a(href="http://twitter.com/rarar") CV
          span
          |
          |/
          |
        li
          a(href="http://instagram.com/rarar") Email
      p Handcrafted with love using Node.js, Express & Pug © 2020 Raphael Arar
