extends layout

block content
  section.project
    a(href="./" class="back") 👈 back
    header
      h1= h1
      p= desc
    main
      section.jumbo
        div.img-container
          img(src=largethumb)
        div!= deets

      article
        h3 The problem
        != problemStatement
        h3 Process & solution
        != processSolution
        
        section.jumbo
          div.img-container
            img(src="/images/cbm-search.gif")
          div.detail
            p Walk-through prototype of the search experience.
            p In CBM.next, users have the ability to search components, existing maps as well as articles that span a network of connected repositories.
        section.jumbo
          div.img-container
            img(src="/images/cbm-explore.gif")
          div.detail
            p Walk-through prototype of the explore experience.
            p In the old tool, users faced a steep learning curve—there was no way to get acquainted with existing models or the CBM methodology without an expert trainer. My team and I sought to rectify this user need by creating a robust onboarding experience.
        h3 Outcome & next steps
        p In April 2017, CBM.next was launched globally within IBM, signifying the next era of the CBM methodology and tooling. Since then, the collaborative platform has over 5000 active consultants globally.  We defined an active user as someone who logs in to the tool at least twice a month. This is a significant jump from the initial data collected, which showed that the prior user base was less than 500 active users signifying an over 900% increase in our user base!
        p While I left the project prior to the collection of additional quantitative data, I would’ve loved to capture NPS scores to further validate its reception as well as completion rates for important tasks like creating a heatmap and customizing a template. That said, from the qualitative feedback collected, the reception of CBM.next and updates to the methodology have been well received. Users are keen to see continued work as future releases have been scheduled for the coming years. As of today, CBM.next represents the next era of collaborative business informatics software and demonstrates the possibilities of applying user-centered design methodologies and practices to the field of business modeling products and services at large.
    footer
      ul.social
        li
          a(href="http://twitter.com/rarar") Twitter
          span
          |
          |/
          |
        li
          a(href="http://instagram.com/rarar") Instagram
          span
          |
          |/
          |
        li
          a(href="http://linkedin.com/in/rarar") LinkedIn
      ul.personal
        li
          a(href="http://twitter.com/rarar") CV
          span
          |
          |/
          |
        li
          a(href="http://instagram.com/rarar") Email
      p Handcrafted with love using Node.js, Express & Pug © 2020 Raphael Arar
