body {
  font: 1rem 'PT Sans', sans-serif;
  color: #4F4F4F;
}

h1, h3 {
  color: #333333;
}

a {
  color: #2F80ED;
  text-decoration: none;
}

p {
  color: #4f4f4f;
  line-height: 1.5rem;
}

/* Area page */
section.area, section.project {
  position: relative;
  width: calc(100% - 6rem);
  max-width: 1440px;
  margin: 0 auto;
}

a.back {
  display: flex;
  position: fixed;
  top: 2rem;
  left: 3rem;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #2F80ED;
  height: 3rem;
  width: 6rem;
  font-size: 0.875rem;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

a.back:hover {
  background: #2F80ED;
  color: #ffffff;
}

section.area header, section.project header {
  padding: 5rem 0;
  box-shadow: 0px 1px 0px #E0E0E0;
}

section.area header h1, section.project header h1 {
  font-weight: 400;
  font-size: 4rem;
}

section.area header p, section.project header p {
  font-size: 1.3125rem;
  line-height: 1.875rem;
  padding: 0;
  margin: 0;
}

section.area main, section.project main {
  padding: 3rem 0 5rem 0;
}

section.area main h2, section.project main h2 {
  padding: 2rem 0 0 0;
}

section.area main ul.projects, section.area main ul.links {
  margin: 0;
  padding: 0 0 1rem 0;
}

section.area main ul.projects a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

section.area main ul.projects a:hover {
  opacity: 0.65;
}

section.area main ul.projects li {
  list-style-type: none;
}

section.area main ul.projects li img {
  width: 50%;
  margin: 0 8rem 0 0;
}

section.area main ul.projects li div {
  /* width: 50%; */
}

section.area main ul.projects li div h3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

section.area main ul.projects li div h4 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 1rem 0 2rem;
  color: #4f4f4f;
}

section.area main ul.projects li div p {
  color: #333333;
}

section.area main ul.links li {
  margin: 0;
  padding: 2rem 0;
  /* box-shadow: 0px 1px 0px #E0E0E0; */
  list-style-type: none;
}

section.area main ul.links li h3 {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin: 0;
  display: block;
}

section.area main ul.links li h4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 0;
}

section.area footer, section.project footer {
  width: 100%;
  box-shadow: 0px -1px 0px #E0E0E0;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  justify-content: flex-start;
}

section.area footer ul, section.project footer ul {
  margin: 0;
  padding: 0;
  width: 20%;
}

section.area footer ul li, section.project footer ul li {
  display: inline;
  list-style-type: none;
}

section.area footer p, section.project footer p {
  margin: 0;
  padding: 0;
  text-align: right;
  width: 60%;
}

/* Project */
section.project header {
  box-shadow: none;
  padding-bottom: 0;
}

section.jumbo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 0 2rem 0;
}

section.jumbo img {
  width: 66%;
  margin: 0 3rem 0 0;
  align-self: flex-start;
}

section.jumbo div {
  box-shadow: -1px 0px 0px #E0E0E0;
  align-self: stretch;
  padding: 0 0 0 2rem;
}

section.jumbo div.detail p {
  color: #4F4F4F;
  font-size: 0.875rem;
}

section.jumbo div.img-container{
  background: #F2F2F2;
  padding: 3rem;
  box-shadow: none;
  margin: 0 3rem 0 0;
  align-self: flex-start;
  position: relative;
  width: calc(70% - 6rem);
}

section.jumbo div.video-wrapper, section.jumbo div.img-container.full {
  align-self: flex-start;
  width: 70%;
  position: relative;
  box-shadow: none;
  background: none;
  margin: 0 3rem 0 0;
  padding: 0;
}

section.jumbo div.detail {
  width: 30%;
}

section.jumbo div.video-wrapper div {
  box-shadow: none;
}

section.jumbo div.img-container img {
  width: 100%;
}

section.project section.jumbo h2 {
  font: 0.875rem 'PT Mono', monospace;
  padding: 0;
}

section.jumbo ul {
  margin: 0 0 2rem 0;
  padding: 0;
}

section.jumbo ul li {
  list-style-type: none;
  padding: 0 0 0.5rem 0;
}

section.project article h3 {
  font-weight: 400;
  font-size: 3rem;
  margin: 3rem 0 1rem 0;
}

section.project article p {
  margin: 0;
  padding: 1rem 0;
  color: #333333;
}

section.project section.image-block {
  margin: 2rem 0;
  background: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}

section.project section.image-block figure {
  align-self: stretch;
}

section.project section.image-block figure.lg {
  width: 75%;
}

section.project section.image-block figure img {
  width: 100%;
}

section.project section.image-block figure figcaption {
  font-size: 0.875rem;
  padding: 0.5rem 0;
}

section.project .inner-content {
  margin: 0;
}

section.project .inner-content li {
  padding: .5rem 0;
}

section.project h4 {
  font-weight: 400;
  font-size: 1.75rem;
  margin: 1.5rem 0 1rem 0;
}
section.references ul {
  margin: 0;
  padding: 0;
}

section.references ul li {
  list-style: none;
  padding: 1rem 0;
}

/* Landing */
svg#logo {
  margin: 2rem;
}

section.landing {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  overflow: hidden;
}

section.landing aside {
  width: 25%;
  box-shadow: 1px 0px 0px #E0E0E0;
  height: 100vh;
  position: relative;
  overflow: hidden !important;
}

section.landing aside h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin: 0 0 0.5rem 2rem;
}

section.landing aside h2, section.landing main h2, section.area h2 {
  font: 0.875rem 'PT Mono', monospace;
  color: #4F4F4F;
}

section.landing aside h2 {
  margin: 0 0 0 2rem;
}

section.landing aside hr {
  border-top: 1px solid #4F4F4F;
  width: 15.75rem;
  text-align: left;
  margin: 1.15rem 0 0 2rem;
}

section.landing aside p {
  margin: 2rem;
}

section.landing aside ul.social, section.landing aside ul.personal {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2rem;
}

section.landing aside ul.social {
  left: 2rem;
}

section.landing aside ul.personal {
  right: 2rem;
}

section.landing aside ul.social li, section.landing aside ul.personal li {
  display: inline;
  list-style: none;
}

section.landing main {
  width: 75%;
  height: 100vh;
  overflow: scroll;
}

section.landing main h2 {
  padding: 2rem;
}

section.landing main ul {
  margin: 0;
  padding: 0;
}

section.landing main ul li {
  list-style-type: none;
}

section.landing main ul li a {
  display: block;
  box-shadow: 0px 1px 0px #E0E0E0;
}

section.landing main ul.main-work li a {
  font-size: 2rem;
  padding: 1.5rem 2rem;
  line-height: 2rem;
}

section.landing main ul.other-work li a {
  font-size: 1.31rem;
  padding: .844rem 2rem;
  line-height: 1.31rem;
}

section.landing main ul li a:hover {
  background: #2F80ED;
  color: #ffffff;
  box-shadow: none;
}

section.landing main ul li:first-child a {
  box-shadow: 0px -1px 0px #E0E0E0, 0px 1px 0px #E0E0E0;
}

section.landing main footer p {
  font-size: 0.875rem;
  color: #828282;
  padding: .844rem 2rem;
}

@media (max-width: 1680px) {
  section.landing aside {
    width: 35%
  }

  section.landing main {
    width: 75%;
  }

  section.area {
    padding: 3rem 0 0 0;
  }
}

@media (max-width: 1280px) {
  section.landing aside {
    width: 40%
  }

  section.landing main {
    width: 60%;
  }

  section.landing main ul.main-work li a {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  section.landing main ul.other-work li a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  section.landing aside ul.social, section.landing aside ul.personal {
    font-size: 0.875rem;
  }

  section.area main ul.projects li img {
    margin-right: 3rem;
    width: 50%;
  }

  section.area footer ul, section.project footer ul {
    margin: 0;
    padding: 0;
    width: 30%;
    display: inline-block;
  }

  section.area footer p, section.project footer p {
    font-size: 0.875rem;
  }
}

@media (max-width: 1024px) {
  section.area main ul.projects a {
    flex-direction: column;
  }

  section.area main ul.projects li img {
    margin: 0 0 2rem 0;
    width: 100%;
  }

  section.area footer, section.project footer {
    display: block;
  }

  section.area footer ul, section.project footer ul {
    margin: 0 0 1rem 0;
    padding: 0;
    width: auto;
    display: block;
  }

  section.area footer ul.personal, section.project footer ul.personal {
    text-align: left;
  }

  section.area footer p, section.project footer p {
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: left;
    width: 100%;
  }

  section.jumbo {
    flex-direction: column;
  }

  section.jumbo div {
    width: 100%;
    box-shadow: none;
    padding: 1rem 0;
    margin: 0;
    align-self: flex-start;
  }

  section.jumbo div.img-container, section.jumbo div.video-wrapper, section.jumbo div.img-container.full {
    margin: 0;
    align-self: stretch;
    width: auto;
    padding: 0;
  }

  section.jumbo div.detail.no-border {
    box-shadow: none;
    padding: 0;
  }

  section.jumbo div.video-wrapper {
    padding: 0;
  }

  section.jumbo div h2, section.jumbo div ul {
    font-size: 0.875rem;
    padding: 0;
    margin: 0.5rem 0;
  }

  section.jumbo div.detail {
    width: calc(100% - 2rem);
    box-shadow: -1px 0px 0px #E0E0E0;
    margin: 2rem 0;
    padding: 0 0 0 2rem;
  }

  section.jumbo div.detail p {
    padding: 0.5rem 0;
  }

  section.project section.image-block {
    flex-direction: column;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  section.landing {
    flex-direction: column;
  }

  section.landing aside {
    height: auto;
    align-self: stretch;
    width: auto;
    box-shadow: 0px 1px 0px #E0E0E0;
  }

  section.landing aside ul.social, section.landing aside ul.personal {
    position: static;
    display: inline-block;
    padding: 0 0 2rem 2rem;
  }

  section.landing main {
    height: auto;
    align-self: stretch;
    width: auto;
  }

  section.project, section.area {
    width: calc(100% - 4rem);
  }

  figure {
    margin: 0;
  }

  section.jumbo div.img-container, figure {
    padding: 0.5rem;
  }

  section.jumbo img {
    margin: 0;
  }

  a.back {
    left: 2rem;
  }

  section.area header h1, section.project header h1 {
    font-size: 3.5rem;
  }

  section.area main ul.projects li div h3 {
    font-size: 2.5rem;
  }
}
