body {
  font: 1rem 'PT Sans', sans-serif;
  color: #333333;
}

a {
  color: #2F80ED;
  text-decoration: none;
}

p {
  color: #4f4f4f;
  line-height: 1.5rem;
}

svg#logo {
  margin: 0 0 2rem 0;
}

section.landing {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  overflow: hidden;
}

section.landing aside {
  width: 30%;
  box-shadow: 1px 0px 0px #E0E0E0;
  height: 95vh;
  padding: 2rem;
  position: relative;
  overflow: hidden !important;
}

section.landing aside h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin: 0 0 0.5rem 0;
}

section.landing aside h2, section.landing main h2 {
  font: 0.875rem 'PT Mono', monospace;
  color: #4F4F4F;
  margin: 0;
}

section.landing aside hr{
  border-top: 1px solid #4F4F4F;
  width: 25%;
  text-align: left;
  margin: 1.15rem 0;
}

section.landing aside ul.social, section.landing aside ul.personal {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2rem;
}

section.landing aside ul.personal {
  right: 2rem;
}

section.landing aside ul.social li, section.landing aside ul.personal li{
  display: inline;
  list-style: none;
}

section.landing main {
  width: 70%;
  height: 100vh;
  overflow: scroll;
}

section.landing main h2 {
  padding: 2rem;
}

section.landing main ul {
  margin: 0;
  padding: 0;
}

section.landing main ul li {
  list-style-type: none;
}

section.landing main ul li a {
  display: block;
  box-shadow: 0px 1px 0px #E0E0E0;
}

section.landing main ul.main-work li a {
  font-size: 2rem;
  padding: 1.5rem 2rem;
  line-height: 2rem;
}

section.landing main ul.other-work li a {
  font-size: 1.31rem;
  padding: .844rem 2rem;
  line-height: 1.31rem;
}

section.landing main ul li a:hover {
  background: #2F80ED;
  color: #ffffff;
  box-shadow: none;
}

section.landing main ul li:first-child a {
  box-shadow: 0px -1px 0px #E0E0E0, 0px 1px 0px #E0E0E0;
}
